In [1]:
import investpy

In [2]:
# countries
investpy.get_index_countries()

['argentina',
 'australia',
 'austria',
 'bahrain',
 'bangladesh',
 'belgium',
 'bosnia',
 'botswana',
 'brazil',
 'bulgaria',
 'canada',
 'chile',
 'china',
 'colombia',
 'costa rica',
 'croatia',
 'cyprus',
 'czech republic',
 'denmark',
 'dubai',
 'ecuador',
 'egypt',
 'estonia',
 'euro zone',
 'finland',
 'france',
 'germany',
 'greece',
 'hong kong',
 'hungary',
 'iceland',
 'india',
 'indonesia',
 'iraq',
 'ireland',
 'israel',
 'israeli',
 'italy',
 'ivory coast',
 'jamaica',
 'japan',
 'jordan',
 'kazakhstan',
 'kenya',
 'kuwait',
 'kuwaiti',
 'latvia',
 'lebanon',
 'lithuania',
 'malaysia',
 'malta',
 'mauritius',
 'mexico',
 'mongolia',
 'montenegro',
 'morocco',
 'namibia',
 'netherlands',
 'new zealand',
 'nigeria',
 'norway',
 'oman',
 'pakistan',
 'palestine',
 'peru',
 'philippines',
 'poland',
 'portugal',
 'qatar',
 'romania',
 'russia',
 'rwanda',
 'saudi arabia',
 'serbia',
 'singapore',
 'slovakia',
 'slovenia',
 'south africa',
 'south korea',
 'spain',
 'sri lanka',
 'sweden',
 'switzerland',
 'taiwan',
 'tanzania',
 'thailand',
 'tunisia',
 'turkey',
 'uganda',
 'ukraine',
 'united arab emirates',
 'united kingdom',
 'united states',
 'venezuela',
 'vietnam',
 'world',
 'zambia',
 'zimbabwe']

---

# Currency Index

In [3]:
df = investpy.indices.get_index_historical_data(index="US Dollar Index",
                                                country="united states",
                                                from_date="01/07/2020",
                                                to_date="10/07/2020")
df.head()

             Open   High    Low  Close  Volume Currency
Date
2020-07-01  97.39  97.62  97.03  97.20       0      USD
2020-07-02  97.14  97.34  96.81  97.32       0      USD
2020-07-03  97.21  97.36  97.12  97.17       0      USD
2020-07-06  97.15  97.19  96.57  96.72       0      USD
2020-07-07  96.75  97.15  96.60  96.88       0      USD

# Stock Index

In [264]:
investpy.indices.get_index_countries()[:5]

['argentina', 'australia', 'austria', 'bahrain', 'bangladesh']

In [265]:
indice_name = {}

---
## US

In [266]:
df = investpy.indices.get_indices(country="united states")
df.head()

,country,name,full_name,symbol,currency,class,market
0,united states,NQ US Mid Cap Value,NASDAQ US Mid Cap Value,NQUSMV,USD,other_indices,global_indices
1,united states,NQ US Mid Cap Growth,NASDAQ US Mid Cap Growth,NQUSMG,USD,other_indices,global_indices
2,united states,NQ US Mid Cap Telecommunications Equipment,NASDAQ US Mid Cap Telecommunications Equipment,NQUSM9578,USD,other_indices,global_indices
3,united states,NQ US Mid Cap Semiconductors,NASDAQ US Mid Cap Semiconductors,NQUSM9576,USD,other_indices,global_indices
4,united states,NQ US Mid Cap Computer Hardware,NASDAQ US Mid Cap Computer Hardware,NQUSM9572,USD,other_indices,global_indices

In [267]:
df[df.name.str.contains("S&P 500") & (df["class"]=="primary_sectors")]

,country,name,full_name,symbol,currency,class,market
387,united states,S&P 500 Consumer Discretionary,S&P 500 Consumer Discretionary,SPLRCD,USD,primary_sectors,world_indices
388,united states,S&P 500 Consumer Staples,S&P 500 Consumer Staples,SPLRCS,USD,primary_sectors,world_indices
408,united states,S&P 500 Energy,S&P 500 Energy,SPNY,USD,primary_sectors,world_indices
409,united states,S&P 500 Financials,S&P 500 Financials,SPSY,USD,primary_sectors,world_indices
410,united states,S&P 500 Health Care,S&P 500 Health Care,SPXHC,USD,primary_sectors,world_indices
411,united states,S&P 500 Industrials,S&P 500 Industrials,SPLRCI,USD,primary_sectors,world_indices
431,united states,S&P 500 Information Technology,S&P 500 Information Technology,SPLRCT,USD,primary_sectors,world_indices
432,united states,S&P 500 Materials,S&P 500 Materials,SPLRCM,USD,primary_sectors,world_indices
433,united states,S&P 500 Real Estate,S&P 500 Real Estate,SPLRCREC,USD,primary_sectors,world_indices
434,united states,S&P 500 Telecom Services,S&P 500 Telecom Services,SPLRCL,USD,primary_sectors,world_indices
435,united states,S&P 500 Utilities,S&P 500 Utilities,SPLRCU,USD,primary_sectors,world_indices

In [268]:
indice_name["US"] = df[df.name.str.contains("S&P 500") & (df["class"]=="primary_sectors")].full_name.values.tolist()

In [269]:
df = investpy.indices.get_index_historical_data(index="KOSPI 200 IT",
                                                country="south korea",
                                                from_date="01/07/2020",
                                                to_date="10/07/2020")

In [270]:
df

               Open     High      Low    Close    Volume Currency
Date
2020-07-01  2387.98  2407.04  2361.58  2369.33  24144000      KRW
2020-07-02  2377.77  2384.82  2354.45  2377.45  21179000      KRW
2020-07-03  2400.23  2406.55  2383.14  2404.17  18441000      KRW
2020-07-06  2417.47  2460.81  2408.34  2455.63  34610000      KRW
2020-07-07  2484.51  2491.45  2416.06  2418.55  44669000      KRW
2020-07-08  2424.33  2440.83  2396.61  2401.07  29033000      KRW
2020-07-09  2410.68  2431.39  2401.25  2414.38  27784000      KRW
2020-07-10  2426.46  2429.57  2384.06  2404.12  23093000      KRW

---
## JP

In [271]:
df = investpy.indices.get_indices(country="japan")
df.head()

,country,name,full_name,symbol,currency,class,market
0,japan,TSE TOPIX17 Wholesale Stock Price,Tokyo SE TOPIX17 Wholesale Stock Price,TRAD17.T,JPY,primary_sectors,world_indices
1,japan,TOPIX Banks,TOPIX Banks,IBNKS.T,JPY,primary_sectors,world_indices
2,japan,TSE TOPIX17 Transportation Stock Price,Tokyo SE TOPIX17 Transportation Stock Price,TRAN17.T,JPY,primary_sectors,world_indices
3,japan,TOPIX Air Transportation,TOPIX Air Transportation,IAIRL.T,JPY,primary_sectors,world_indices
4,japan,TSE TOPIX17 Steel Stock Price,Tokyo SE TOPIX17 Steel Stock Price,STEL17.T,JPY,primary_sectors,world_indices

In [272]:
df[df.name.str.contains("TOPIX17") & (df["class"]=="primary_sectors")]

,country,name,full_name,symbol,currency,class,market
0,japan,TSE TOPIX17 Wholesale Stock Price,Tokyo SE TOPIX17 Wholesale Stock Price,TRAD17.T,JPY,primary_sectors,world_indices
2,japan,TSE TOPIX17 Transportation Stock Price,Tokyo SE TOPIX17 Transportation Stock Price,TRAN17.T,JPY,primary_sectors,world_indices
4,japan,TSE TOPIX17 Steel Stock Price,Tokyo SE TOPIX17 Steel Stock Price,STEL17.T,JPY,primary_sectors,world_indices
5,japan,TSE TOPIX17 IT Services Stock Price,Tokyo SE TOPIX17 IT & Services Stock Price,ITSV17.T,JPY,primary_sectors,world_indices
6,japan,TSE TOPIX17 Real Estate Stock Price,Tokyo SE TOPIX17 Real Estate Stock Price,RLTY17.T,JPY,primary_sectors,world_indices
7,japan,TSE TOPIX17 Power Gas Stock Price,Tokyo SE TOPIX17 Power & Gas Stock Price,PWGA17.T,JPY,primary_sectors,world_indices
8,japan,TSE TOPIX17 Pharmacetical Stock Price,Tokyo SE TOPIX17 Pharmacetical Stock Price,PHAM17.T,JPY,primary_sectors,world_indices
9,japan,TSE TOPIX17 Machinery Stock Price,Tokyo SE TOPIX17 Machinery Stock Price,MACH17.T,JPY,primary_sectors,world_indices
10,japan,TSE TOPIX17 Food Stock Price,Tokyo SE TOPIX17 Food Stock Price,FOOD17.T,JPY,primary_sectors,world_indices
12,japan,TSE TOPIX17 Retail Stock Price,Tokyo SE TOPIX17 Retail Stock Price,RETL17.T,JPY,primary_sectors,world_indices
58,japan,TSE TOPIX17 Financials Stock Price,Tokyo SE TOPIX17 Financials Stock Price,FNCL17.T,JPY,primary_sectors,world_indices
198,japan,TSE TOPIX17 Energy Resources Stock Price,Tokyo SE TOPIX17 Energy Resources Stock Price,ENGY17.T,JPY,primary_sectors,world_indices
200,japan,TSE TOPIX17 Construction Stock Price,Tokyo SE TOPIX17 Construction Stock Price,CNST17.T,JPY,primary_sectors,world_indices
222,japan,TSE TOPIX17 Electric Stock Price,Tokyo SE TOPIX17 Electric Stock Price,ELEC17.T,JPY,primary_sectors,world_indices
231,japan,TSE TOPIX17 Banks Stock Price,Tokyo SE TOPIX17 Banks Stock Price,BANK17.T,JPY,primary_sectors,world_indices
232,japan,TSE TOPIX17 Chemicals Stock Price,Tokyo SE TOPIX17 Chemicals Stock Price,CHEM17.T,JPY,primary_sectors,world_indices
233,japan,TSE TOPIX17 Automobile Stock Price,Tokyo SE TOPIX17 Automobile Stock Price,ATMO17.T,JPY,primary_sectors,world_indices

In [273]:
indice_name["JP"] = df[df.name.str.contains("TOPIX17") & (df["class"]=="primary_sectors")].full_name.values.tolist()

---
## UK

In [274]:
df = investpy.indices.get_indices(country="united kingdom")
df.head()

,country,name,full_name,symbol,currency,class,market
0,united kingdom,FTSE 100 Minimum Variance,FTSE 100 Minimum Variance,FTUKXMV,GBP,other_indices,global_indices
1,united kingdom,Stoxx UK 50 Risk 20% RV EUR,Stoxx UK 50 Risk 20% RV EUR,SUKR20EG,EUR,other_indices,global_indices
2,united kingdom,Stoxx UK 50 Risk 20% RV USD,Stoxx UK 50 Risk 20% RV USD,SUKR20DG,USD,other_indices,global_indices
3,united kingdom,Stoxx UK 50 Risk 15% RV EUR,Stoxx UK 50 Risk 15% RV EUR,SUKR15EG,EUR,other_indices,global_indices
4,united kingdom,Stoxx UK 50 Risk 15% RV USD,Stoxx UK 50 Risk 15% RV USD,SUKR15DG,USD,other_indices,global_indices

In [275]:
df[df.name.str.contains("FTSE 350") & (df["class"]=="primary_sectors")]

,country,name,full_name,symbol,currency,class,market
73,united kingdom,FTSE 350 REITs,FTSE 350 - Real Estate Investment Trusts REITs,FTNMX8670,GBP,primary_sectors,world_indices
76,united kingdom,FTSE 350 Real Estate,FTSE 350 - Real Estate,FTUB8600,GBP,primary_sectors,world_indices
82,united kingdom,FTSE 350 Mobile Telecom,FTSE 350 - Mobile Telecommunications,FTNMX6570,GBP,primary_sectors,world_indices
103,united kingdom,FTSE 350 Equity Investment Instruments,FTSE 350 Equity Investment Instruments,FTNMX8980,GBP,primary_sectors,world_indices
104,united kingdom,FTSE 350 Electronic & Electrical Equipment,FTSE 350 Electronic & Electrical Equipment,FTNMX2730,GBP,primary_sectors,world_indices
105,united kingdom,FTSE 350 Electricity,FTSE 350 Electricity,FTNMX7530,GBP,primary_sectors,world_indices
106,united kingdom,FTSE 350 Construction & Building Materials,FTSE 350 Construction & Building Materials,FTNMX2350,GBP,primary_sectors,world_indices
107,united kingdom,FTSE 350 Chemicals,FTSE 350 Chemicals,FTNMX1350,GBP,primary_sectors,world_indices
108,united kingdom,FTSE 350 Beverages,FTSE 350 Beverages,FTNMX3530,GBP,primary_sectors,world_indices
109,united kingdom,FTSE 350 Banks,FTSE 350 Banks,FTNMX8350,GBP,primary_sectors,world_indices
110,united kingdom,FTSE 350 Aerospace & Defense,FTSE 350 Aerospace & Defense,FTNMX2710,GBP,primary_sectors,world_indices
133,united kingdom,FTSE 350 Industr Metals&Mining,FTSE 350 - Industrial Metals & Mining,FTNMX1750,GBP,primary_sectors,world_indices
134,united kingdom,FTSE 350 Forestry&Paper,FTSE 350 - Forestry & Paper,FTNMX1730,GBP,primary_sectors,world_indices
135,united kingdom,FTSE 350 Auto&Parts,FTSE 350 - Automobiles & Parts,FTNMX3350,GBP,primary_sectors,world_indices
174,united kingdom,FTSE 350 Pharmaceuticals & Biotechnology,FTSE 350 Pharmaceuticals & Biotechnology,FTNMX4570,GBP,primary_sectors,world_indices
176,united kingdom,FTSE 350 Oil Equipment & Services,FTSE 350 Oil Equipment & Services,FTNMX0570,GBP,primary_sectors,world_indices
178,united kingdom,FTSE 350 Oil & Gas,FTSE 350 Oil & Gas,FTNMX0530,GBP,primary_sectors,world_indices
180,united kingdom,FTSE 350 Nonlife Insurance,FTSE 350 Nonlife Insurance,FTNMX8530,GBP,primary_sectors,world_indices
187,united kingdom,FTSE 350 Mining,FTSE 350 Mining,FTNMX1770,GBP,primary_sectors,world_indices
194,united kingdom,FTSE 350 Tobacco,FTSE 350 Tobacco,FTNMX3780,GBP,primary_sectors,world_indices
195,united kingdom,FTSE 350 Travel & Leisure,FTSE 350 Travel & Leisure,FTNMX5750,GBP,primary_sectors,world_indices
198,united kingdom,FTSE 350 Support Services,FTSE 350 Support Services,FTNMX2790,GBP,primary_sectors,world_indices
200,united kingdom,FTSE 350 Software & Computer Services,FTSE 350 Software & Computer Services,FTNMX9530,GBP,primary_sectors,world_indices
231,united kingdom,FTSE 350 Gas Water & Multiutilities,FTSE 350 Gas Water & Multiutilities,FTNMX7570,GBP,primary_sectors,world_indices
232,united kingdom,FTSE 350 Food & Drug Retailers,FTSE 350 Food & Drug Retailers,FTNMX5330,GBP,primary_sectors,world_indices
233,united kingdom,FTSE 350 Fixed Line Telecommuniations,FTSE 350 Fixed Line Telecommuniations,FTNMX6530,GBP,primary_sectors,world_indices
234,united kingdom,FTSE 350 Financial Services,FTSE 350 Financial Services,FTNMX8770,GBP,primary_sectors,world_indices
242,united kingdom,FTSE 350 General Industrials,FTSE 350 General Industrials,FTNMX2720,GBP,primary_sectors,world_indices
243,united kingdom,FTSE 350 Food Producers,FTSE 350 Food Producers,FTNMX3570,GBP,primary_sectors,world_indices
244,united kingdom,FTSE 350 Health Care Equipment & Services,FTSE 350 Health Care Equipment & Services,FTNMX4530,GBP,primary_sectors,world_indices
247,united kingdom,FTSE 350 General Retailers,FTSE 350 General Retailers,FTNMX5370,GBP,primary_sectors,world_indices
257,united kingdom,FTSE 350 Media,FTSE 350 Media,FTNMX5550,GBP,primary_sectors,world_indices
261,united kingdom,FTSE 350 Household Goods,FTSE 350 Household Goods,FTNMX3720,GBP,primary_sectors,world_indices
264,united kingdom,FTSE 350 Life Insurance,FTSE 350 Life Insurance,FTNMX8570,GBP,primary_sectors,world_indices
265,united kingdom,FTSE 350 Industrial Transportation,FTSE 350 Industrial Transportation,FTNMX2770,GBP,primary_sectors,world_indices
267,united kingdom,FTSE 350 Industrial Engineering,FTSE 350 Industrial Engineering,FTNMX2750,GBP,primary_sectors,world_indices

In [276]:
indice_name["UK"] = df[df.name.str.contains("FTSE 350") & (df["class"]=="primary_sectors")].full_name.values.tolist()

---
## KS

In [277]:
df = investpy.indices.get_indices(country="south korea")
df.head()

,country,name,full_name,symbol,currency,class,market
0,south korea,F-LKTB Inverse,F-LKTB Inverse,FLKTBINV,KRW,other_indices,world_indices
1,south korea,F-LKTB Index,F-LKTB Index,FLKTB,KRW,other_indices,world_indices
2,south korea,F-KTB Inverse,F-KTB Inverse,FKTBINV,KRW,other_indices,world_indices
3,south korea,F-KTB Index,F-KTB Index,FKTB,KRW,other_indices,world_indices
4,south korea,KRX Transportation,KRX Transportation,KRXTRANS,KRW,other_indices,world_indices

In [278]:
df[df.full_name.str.contains("KOSPI") & (df["class"]=="primary_sectors")]

,country,name,full_name,symbol,currency,class,market
93,south korea,KOSPI 200 IT,KOSPI 200 IT,KS200IT,KRW,primary_sectors,world_indices
94,south korea,KOSPI 200 Heavy Industries,KOSPI 200 Heavy Industries,KS200SHIP,KRW,primary_sectors,world_indices
95,south korea,KOSPI 200 Financials,KOSPI 200 Financials,KS200FNCL,KRW,primary_sectors,world_indices
96,south korea,KOSPI 200 Energy & Chemicals,KOSPI 200 Energy & Chemicals,KS200ENER,KRW,primary_sectors,world_indices
97,south korea,KOSPI 200 Consumer Staples,KOSPI 200 Consumer Staples,KS200CONS,KRW,primary_sectors,world_indices
98,south korea,KOSPI 200 Consumer Discretionary,KOSPI 200 Consumer Discretionary,KS200COND,KRW,primary_sectors,world_indices
100,south korea,KOSPI 200 Constructions & Machinery,KOSPI 200 Constructions & Machinery,KS200CNST,KRW,primary_sectors,world_indices
114,south korea,KOSPI 200 Steels & Materials,KOSPI 200 Steels & Materials,KS200STL,KRW,primary_sectors,world_indices

In [279]:
indice_name["KS"] = df[df.name.str.contains("KOSPI") & (df["class"]=="primary_sectors")].full_name.values.tolist()

---
## DE

In [280]:
df = investpy.indices.get_indices(country="germany")
df.head()

,country,name,full_name,symbol,currency,class,market
0,germany,Technology All Share,DAX Technology All Share,TECALL,EUR,additional_indices,world_indices
1,germany,Pharma & Healthcare,DAX Pharmaceuticals & Healthcare,CXPPX,EUR,primary_sectors,world_indices
2,germany,Software,DAX Software,CXPSX,EUR,primary_sectors,world_indices
3,germany,Technology,DAX Technology,CXPHX,EUR,primary_sectors,world_indices
4,germany,Telecom,DAX Telecom,CXPTX,EUR,primary_sectors,world_indices

In [283]:
df[df.full_name.str.contains("DAX") & (df["class"]=="primary_sectors")]

,country,name,full_name,symbol,currency,class,market
1,germany,Pharma & Healthcare,DAX Pharmaceuticals & Healthcare,CXPPX,EUR,primary_sectors,world_indices
2,germany,Software,DAX Software,CXPSX,EUR,primary_sectors,world_indices
3,germany,Technology,DAX Technology,CXPHX,EUR,primary_sectors,world_indices
4,germany,Telecom,DAX Telecom,CXPTX,EUR,primary_sectors,world_indices
5,germany,Transport & Logistics,DAX Transportation & Logistics,CXPLX,EUR,primary_sectors,world_indices
8,germany,Retail,DAX Retail,CXPRX,EUR,primary_sectors,world_indices
80,germany,Media,DAX Media,CXPDX,EUR,primary_sectors,world_indices
109,germany,Insurance,DAX Insurance,CXPIX,EUR,primary_sectors,world_indices
111,germany,Food & Beverage,DAX Food & Beverage,CXPFX,EUR,primary_sectors,world_indices
137,germany,Industrial,DAX Industrial,CXPNX,EUR,primary_sectors,world_indices
155,germany,Utilities,DAX Utilities,CXPUX,EUR,primary_sectors,world_indices
169,germany,Banks,DAX Banks,CXPBX,EUR,primary_sectors,world_indices
170,germany,Basic Resources,DAX Basic Resources,CXPEX,EUR,primary_sectors,world_indices
171,germany,Consumer & Cyclical,DAX Consumer & Cyclical,CXPYX,EUR,primary_sectors,world_indices
172,germany,Construction,DAX Construction,CXPOX,EUR,primary_sectors,world_indices
174,germany,Chemicals,DAX Chemicals,CXPCX,EUR,primary_sectors,world_indices
175,germany,Financial Services,DAX Financial Services,CXPVX,EUR,primary_sectors,world_indices
177,germany,Automobile,DAX Automobile,CXPAX,EUR,primary_sectors,world_indices

In [284]:
indice_name["DE"] = df[df.full_name.str.contains("DAX") & (df["class"]=="primary_sectors")].full_name.values.tolist()

---
## AUD

In [285]:
df = investpy.indices.get_indices(country="australia")
df.head()

,country,name,full_name,symbol,currency,class,market
0,australia,S&P ASX Financials x a r Accum,S&P ASX Financials x a r Accumulated,AXXJA,AUD,other_indices,world_indices
1,australia,SP/ASX 100 Accum,S&P/ASX 100 Accumulated,ATOIA,AUD,other_indices,world_indices
2,australia,SP/ASX 20 Accum,S&P/ASX 20 Accumulated,ATLIA,AUD,other_indices,world_indices
3,australia,S&P/ASX 200 A Reit Equal Weight,S&P/ASX 200 A Reit Equal Weight,AXAE,AUD,other_indices,world_indices
4,australia,S&P/ASX 200 Equal Weight,S&P/ASX 200 Equal Weight,AXEW,AUD,other_indices,world_indices

In [286]:
df[df.full_name.str.contains("S&P/ASX 200") & (df["class"]=="primary_sectors")]

,country,name,full_name,symbol,currency,class,market
106,australia,S&P/ASX 200 Consumer Discretionary,S&P/ASX 200 Consumer Discretionary,AXDJ,AUD,primary_sectors,world_indices
107,australia,S&P/ASX 200 Consumer Staples,S&P/ASX 200 Consumer Staples,AXSJ,AUD,primary_sectors,world_indices
108,australia,S&P/ASX 200 Energy,S&P/ASX 200 Energy,AXEJ,AUD,primary_sectors,world_indices
109,australia,S&P/ASX 200 Financials,S&P/ASX 200 Financials,AXFJ,AUD,primary_sectors,world_indices
110,australia,S&P/ASX 200 Health Care,S&P/ASX 200 Health Care,AXHJ,AUD,primary_sectors,world_indices
111,australia,S&P/ASX 200 Industrials,S&P/ASX 200 Industrials,AXNJ,AUD,primary_sectors,world_indices
112,australia,S&P/ASX 200 Information Technology,S&P/ASX 200 Information Technology,AXIJ,AUD,primary_sectors,world_indices
113,australia,S&P/ASX 200 Materials,S&P/ASX 200 Materials,AXMJ,AUD,primary_sectors,world_indices
114,australia,S&P/ASX 200 REIT,S&P/ASX 200 REIT,AXPJ,AUD,primary_sectors,world_indices
115,australia,S&P/ASX 200 Resources,S&P/ASX 200 Resources,AXJR,AUD,primary_sectors,world_indices
116,australia,S&P/ASX 200 Telecom Services,S&P/ASX 200 Telecommunication Services,AXTJ,AUD,primary_sectors,world_indices
117,australia,S&P/ASX 200 Utilities,S&P/ASX 200 Utilities,AXUJ,AUD,primary_sectors,world_indices

In [287]:
indice_name["AU"] = df[df.full_name.str.contains("S&P/ASX 200") & (df["class"]=="primary_sectors")].full_name.values.tolist()

---

In [288]:
indice_name

{'US': ['S&P 500 Consumer Discretionary',
  'S&P 500 Consumer Staples',
  'S&P 500 Energy',
  'S&P 500 Financials',
  'S&P 500 Health Care',
  'S&P 500 Industrials',
  'S&P 500 Information Technology',
  'S&P 500 Materials',
  'S&P 500 Real Estate',
  'S&P 500 Telecom Services',
  'S&P 500 Utilities'],
 'JP': ['Tokyo SE TOPIX17 Wholesale Stock Price',
  'Tokyo SE TOPIX17 Transportation Stock Price',
  'Tokyo SE TOPIX17 Steel Stock Price',
  'Tokyo SE TOPIX17 IT & Services Stock Price',
  'Tokyo SE TOPIX17 Real Estate Stock Price',
  'Tokyo SE TOPIX17 Power & Gas Stock Price',
  'Tokyo SE TOPIX17 Pharmacetical Stock Price',
  'Tokyo SE TOPIX17 Machinery Stock Price',
  'Tokyo SE TOPIX17 Food Stock Price',
  'Tokyo SE TOPIX17 Retail Stock Price',
  'Tokyo SE TOPIX17 Financials Stock Price',
  'Tokyo SE TOPIX17 Energy Resources Stock Price',
  'Tokyo SE TOPIX17 Construction Stock Price',
  'Tokyo SE TOPIX17 Electric Stock Price',
  'Tokyo SE TOPIX17 Banks Stock Price',
  'Tokyo SE TOPIX17 Chemicals Stock Price',
  'Tokyo SE TOPIX17 Automobile Stock Price'],
 'UK': ['FTSE 350 - Real Estate Investment Trusts REITs',
  'FTSE 350 - Real Estate',
  'FTSE 350 - Mobile Telecommunications',
  'FTSE 350 Equity Investment Instruments',
  'FTSE 350 Electronic & Electrical Equipment',
  'FTSE 350 Electricity',
  'FTSE 350 Construction & Building Materials',
  'FTSE 350 Chemicals',
  'FTSE 350 Beverages',
  'FTSE 350 Banks',
  'FTSE 350 Aerospace & Defense',
  'FTSE 350 - Industrial Metals & Mining',
  'FTSE 350 - Forestry & Paper',
  'FTSE 350 - Automobiles & Parts',
  'FTSE 350 Pharmaceuticals & Biotechnology',
  'FTSE 350 Oil Equipment & Services',
  'FTSE 350 Oil & Gas',
  'FTSE 350 Nonlife Insurance',
  'FTSE 350 Mining',
  'FTSE 350 Tobacco',
  'FTSE 350 Travel & Leisure',
  'FTSE 350 Support Services',
  'FTSE 350 Software & Computer Services',
  'FTSE 350 Gas Water & Multiutilities',
  'FTSE 350 Food & Drug Retailers',
  'FTSE 350 Fixed Line Telecommuniations',
  'FTSE 350 Financial Services',
  'FTSE 350 General Industrials',
  'FTSE 350 Food Producers',
  'FTSE 350 Health Care Equipment & Services',
  'FTSE 350 General Retailers',
  'FTSE 350 Media',
  'FTSE 350 Household Goods',
  'FTSE 350 Life Insurance',
  'FTSE 350 Industrial Transportation',
  'FTSE 350 Industrial Engineering'],
 'KS': ['KOSPI 200 IT',
  'KOSPI 200 Heavy Industries',
  'KOSPI 200 Financials',
  'KOSPI 200 Energy & Chemicals',
  'KOSPI 200 Consumer Staples',
  'KOSPI 200 Consumer Discretionary',
  'KOSPI 200 Constructions & Machinery',
  'KOSPI 200 Steels & Materials'],
 'DE': ['DAX Pharmaceuticals & Healthcare',
  'DAX Software',
  'DAX Technology',
  'DAX Telecom',
  'DAX Transportation & Logistics',
  'DAX Retail',
  'DAX Media',
  'DAX Insurance',
  'DAX Food & Beverage',
  'DAX Industrial',
  'DAX Utilities',
  'DAX Banks',
  'DAX Basic Resources',
  'DAX Consumer & Cyclical',
  'DAX Construction',
  'DAX Chemicals',
  'DAX Financial Services',
  'DAX Automobile'],
 'AU': ['S&P/ASX 200 Consumer Discretionary',
  'S&P/ASX 200 Consumer Staples',
  'S&P/ASX 200 Energy',
  'S&P/ASX 200 Financials',
  'S&P/ASX 200 Health Care',
  'S&P/ASX 200 Industrials',
  'S&P/ASX 200 Information Technology',
  'S&P/ASX 200 Materials',
  'S&P/ASX 200 REIT',
  'S&P/ASX 200 Resources',
  'S&P/ASX 200 Telecommunication Services',
  'S&P/ASX 200 Utilities']}

In [289]:
import yaml

In [290]:
config_yaml = {"invesing.com": {"Equity": {"Index": indice_name}}}

In [291]:
with open("test.yml", "w") as file:
    yaml.dump(config_yaml, file, indent=4)

In [292]:
with open("test.yml") as file:
    d = yaml.load(file)

In [294]:
with open("test.json", "w") as file:
    json.dump(d, file, indent=4)

---
## Bond

In [121]:
investpy.bonds.get_bond_historical_data("Japan 1Y",
                                        from_date="01/07/2020",
                                        to_date="10/07/2020")

             Open   High    Low  Close
Date
2020-07-01 -0.172 -0.169 -0.183 -0.169
2020-07-02 -0.165 -0.165 -0.183 -0.177
2020-07-03 -0.177 -0.174 -0.182 -0.182
2020-07-05 -0.174 -0.171 -0.174 -0.171
2020-07-06 -0.173 -0.169 -0.177 -0.170
2020-07-07 -0.170 -0.162 -0.172 -0.164
2020-07-08 -0.165 -0.163 -0.172 -0.163
2020-07-09 -0.163 -0.163 -0.177 -0.172
2020-07-10 -0.171 -0.169 -0.183 -0.171

In [122]:
bond_names = investpy.bonds.bonds_as_df()

In [263]:
bond_names.query("country == 'japan'").full_name.tolist()

['Japan 7-Year',
 'Japan 30-Year',
 'Japan 20-Year',
 'Japan 15-Year',
 'Japan 10-Year',
 'Japan 9-Year',
 'Japan 8-Year',
 'Japan 6-Year',
 'Japan 40-Year',
 'Japan 4-Year',
 'Japan 3-Year',
 'Japan 2-Year',
 'Japan 1-Year',
 'Japan 9-Month',
 'Japan 6-Month',
 'Japan 3-Month',
 'Japan 1-Month',
 'Japan 5-Year']

In [262]:
bond_names.query("country == 'united states'").full_name.tolist()

['United States 30-Year',
 'United States 10-Year',
 'United States 7-Year',
 'United States 5-Year',
 'United States 3-Year',
 'United States 3-Month',
 'United States 1-Year',
 'United States 6-Month',
 'United States 1-Month',
 'United States 2-Year']

In [260]:
bond_names.query("country == 'germany'").full_name.tolist()

['Germany 10-Year',
 'Germany 9-Year',
 'Germany 15-Year',
 'Germany 8-Year',
 'Germany 25-Year',
 'Germany 30-Year',
 'Germany 20-Year',
 'Germany 7-Year',
 'Germany 1-Year',
 'Germany 5-Year',
 'Germany 4-Year',
 'Germany 3-Year',
 'Germany 2-Year',
 'Germany 6-Year',
 'Germany 9-Month',
 'Germany 6-Month',
 'Germany 3 Month']

In [261]:
bond_names.query("country == 'united kingdom'").full_name.tolist()

['United Kingdom 40-Year',
 'United Kingdom 50-Year',
 'United Kingdom 30-Year',
 'United Kingdom 25-Year',
 'United Kingdom 15-Year',
 'United Kingdom 12-Year',
 'United Kingdom 10-Year',
 'United Kingdom 9-Year',
 'United Kingdom 8-Year',
 'United Kingdom 20-Year',
 'United Kingdom 6-Year',
 'United Kingdom 5-Year',
 'United Kingdom 4-Year',
 'United Kingdom 3-Year',
 'United Kingdom 2-Year',
 'United Kingdom 1-Year',
 'United Kingdom 6-Month',
 'United Kingdom 3-Month',
 'United Kingdom 1-Month',
 'United Kingdom 7-Year']

---

### **Search

In [187]:
res = investpy.search(text="US Dollar Index")

In [196]:
len(res)

15

In [189]:
[r for r in res if r.name == "US Dollar Index"]

In [190]:
res[0].country

'united states'

In [191]:
res[0].pair_type

'fxfuture'

In [ ]:
res[0].retrieve_historical_data(
    from_date='01/01/1900',
    to_date=datetime.date.today().strftime("%m/%d/%Y")
)

---

In [253]:
symbol = "Japan 7-Year"
search_res = investpy.search(text=symbol)
search_res = [r for r in search_res if r.name == symbol][0]

In [254]:
search_res

In [255]:
df = search_res.retrieve_historical_data(
    from_date='01/01/2020',
    to_date=datetime.date.today().strftime("02/01/2020")
)

In [256]:
df

             Open   High    Low  Close
Date
2020-01-05 -0.111 -0.111 -0.132 -0.132
2020-01-06 -0.125 -0.114 -0.143 -0.118
2020-01-07 -0.101 -0.088 -0.106 -0.101
2020-01-08 -0.097 -0.095 -0.128 -0.108
2020-01-09 -0.078 -0.073 -0.097 -0.095
2020-01-10 -0.092 -0.084 -0.100 -0.090
2020-01-13 -0.095 -0.089 -0.095 -0.089
2020-01-14 -0.089 -0.065 -0.089 -0.069
2020-01-15 -0.080 -0.064 -0.083 -0.080
2020-01-16 -0.089 -0.078 -0.089 -0.084
2020-01-17 -0.074 -0.073 -0.093 -0.089
2020-01-19 -0.090 -0.090 -0.093 -0.093
2020-01-20 -0.085 -0.077 -0.095 -0.085
2020-01-21 -0.083 -0.074 -0.103 -0.101
2020-01-22 -0.096 -0.089 -0.104 -0.099
2020-01-23 -0.108 -0.104 -0.124 -0.120
2020-01-24 -0.118 -0.105 -0.125 -0.118
2020-01-26 -0.131 -0.131 -0.144 -0.144
2020-01-27 -0.145 -0.129 -0.148 -0.141
2020-01-28 -0.140 -0.128 -0.149 -0.135
2020-01-29 -0.125 -0.123 -0.137 -0.134
2020-01-30 -0.139 -0.139 -0.168 -0.157
2020-01-31 -0.154 -0.146 -0.167 -0.166